{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block rz_page_theme_stylesheets %}
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <!--[if IE]>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="{{  asset('bundles/rzpage/theme/rzcms/css/style.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{  asset('bundles/rzpage/theme/rzcms/css/settings.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{  asset('bundles/rzpage/theme/rzcms/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{  asset('bundles/rzpage/theme/rzcms/css/fontello.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{  asset('bundles/rzpage/theme/rzcms/css/icon-effect.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{  asset('bundles/rzpage/theme/rzcms/css/prettyphoto.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{  asset('bundles/rzpage/theme/rzcms/css/dzsportfolio.css')}}"/>
{% endblock %}

{% block rz_page_theme_javascripts %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{  asset('bundles/rzpage/theme/rzcms/css/font-awesome-ie7.min.css')}}">
    <link rel="stylesheet" href="{{  asset('bundles/rzpage/theme/rzcms/css/fontello-ie7.css')}}">
    <![endif]-->
    <script type="text/javascript" src="{{  asset('bundles/rzpage/theme/rzcms/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script type="text/javascript" src="{{  asset('bundles/rzpage/theme/rzcms/js/jquery.themepunch.plugins.min.js')}}"></script>

    <script>
        //<![CDATA[
        $(document).ready(function() {
            if ($.fn.cssOriginal!=undefined)
                $.fn.css = $.fn.cssOriginal;
            $('.fullwidthbanner').revolution(
                    {
                        delay:9000,
                        startwidth:950,
                        startheight:550,
                        onHoverStop:"on",
                        navigationType:"none",
                        soloArrowLeftHOffset:0,
                        soloArrowLeftVOffset:0,
                        soloArrowRightHOffset:0,
                        soloArrowRightVOffset:0,
                        touchenabled:"on",
                        fullWidth:"on",
                        shadow:0
                    });
        });
        //]]>
    </script>
    <script src="{{  asset('bundles/rzpage/theme/rzcms/js/dzsportfolio.js') }}" type="text/javascript"></script>
    <script src="{{  asset('bundles/rzpage/theme/rzcms/js/jquery.isotope.min.js') }}" type="text/javascript"></script>
    <script src="{{  asset('bundles/rzpage/theme/rzcms/js/scroller.js') }}" type="text/javascript"></script>
    <script src="{{  asset('bundles/rzpage/theme/rzcms/js/prettyphoto.js') }}"></script>
    <script type="text/javascript" src="{{  asset('bundles/rzpage/theme/rzcms/js/scripts.js') }}"></script>
    <!-- fade in settings -->
    <script>
        //<![CDATA[
        $(window).scroll(function() {
            $('.hi-icon').each(function(){
                var imagePos = $(this).offset().top;
                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+900) {
                    $(this).addClass("fadeIn2");
                }
            });
        });
        //]]>
    </script>
    <script>
        //<![CDATA[
        $(window).scroll(function() {
            $('.line').each(function(){
                var imagePos = $(this).offset().top;
                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+900) {
                    $(this).addClass("fadeIn2");
                }
            });
        });
        //]]>
    </script>
{% endblock %}

{% block sonata_page_container %}
<header class="header">
    <header class="header">
        <!--logo-->
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="navbar">
                        <!--logo-->
                        <div class="logo">
                            <a href="#"><img src="{{  asset('bundles/rzpage/theme/rzcms/img/logo.png') }}" alt="" /></a>
                        </div>
                        <!--menu-->
                        <a class="menu-link" href="#menu"><i class="icon-reorder white"></i></a>
                        <nav id="menu2" class="menu">
                            <ul>
                                <li class="has-submenu">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Revolution Captions</a></li>
                                        <li><a href="index_slides.html">Revolution Slides</a></li>
                                        <li><a href="index_single.html">Single Image</a></li>
                                        <li><a href="index_video.html">Single Video</a></li>
                                        <li><a href="alt_index.html">Alternative Index</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="team.html">The Team</a></li>
                                        <li><a href="team_member.html">Team Member</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="pricing.html">Pricing Tables</a></li>
                                        <li><a href="dribbble.html">Dribbble Photostream</a></li>
                                        <li><a href="full_width.html">Full Width</a></li>
                                        <li><a href="sidebar.html">Sidebar</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Work </a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio1.html">Sorting Gallery</a></li>
                                        <li><a href="portfolio2.html">Sorting With Links</a></li>
                                        <li><a href="portfolio3.html">Gallery Links</a></li>
                                        <li><a href="portfolio4.html">Sliding Captions</a></li>
                                        <li><a href="case_study.html">Case Study</a></li>
                                        <li class="has-submenu">
                                            <a href="#">Single Pages &raquo;</a>
                                            <ul>
                                                <li><a href="single_slider.html">Single Slider</a></li>
                                                <li><a href="single_video.html">Single Video</a></li>
                                                <li><a href="single_image.html">Single Image</a></li>
                                            </ul>
                                        <li><a href="full_slider.html">Full Slider</a></li>
                                        <li><a href="full_video.html">Full Video</a></li>
                                        <li><a href="parallax.html">Parallax</a></li>
                                        <li><a href="parallax_header.html">Parallax Header</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Blog </a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog_post.html">Blog Post</a></li>
                                        <li><a href="blog_two.html">Blog II</a></li>
                                        <li><a href="blog_post2.html">Blog Post II</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu-no"><a href="contact.html">Contact</a></li>
                                <li class="has-submenu">
                                    <a href="#">Styles</a>
                                    <ul class="sub-menu">
                                        <li><a href="columns.html">Columns</a></li>
                                        <li><a href="icons.html">Retina Icons</a></li>
                                        <li><a href="icons2.html">Line Icons</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--//header-->

    <!-- sticky header-->
    <header class="header sticky hidden-phone hidden-tablet">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="navbar">
                        <!--logo-->
                        <div class="logo-sticky">
                            <a href="index.html"><img src="{{  asset('bundles/rzpage/theme/rzcms/img/diamond.png') }}" alt="" /></a>
                        </div>
                        <!--menu-->
                        <nav id="menu" class="menu menu-sticky">
                            <ul>
                                <li class="has-submenu">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Revolution Captions</a></li>
                                        <li><a href="index_slides.html">Revolution Slides</a></li>
                                        <li><a href="index_single.html">Single Image</a></li>
                                        <li><a href="index_video.html">Single Video</a></li>
                                        <li><a href="alt_index.html">Alternative Index</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="team.html">The Team</a></li>
                                        <li><a href="team_member.html">Team Member</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="pricing.html">Pricing Tables</a></li>
                                        <li><a href="dribbble.html">Dribbble Photostream</a></li>
                                        <li><a href="full_width.html">Full Width</a></li>
                                        <li><a href="sidebar.html">Sidebar</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Work </a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio1.html">Sorting Gallery</a></li>
                                        <li><a href="portfolio2.html">Sorting With Links</a></li>
                                        <li><a href="portfolio3.html">Gallery Links</a></li>
                                        <li><a href="portfolio4.html">Sliding Captions</a></li>
                                        <li><a href="case_study.html">Case Study</a></li>
                                        <li class="has-submenu">
                                            <a href="#">Single Pages &raquo;</a>
                                            <ul>
                                                <li><a href="single_slider.html">Single Slider</a></li>
                                                <li><a href="single_video.html">Single Video</a></li>
                                                <li><a href="single_image.html">Single Image</a></li>
                                            </ul>
                                        <li><a href="full_slider.html">Full Slider</a></li>
                                        <li><a href="full_video.html">Full Video</a></li>
                                        <li><a href="parallax.html">Parallax</a></li>
                                        <li><a href="parallax_header.html">Parallax Header</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">Blog </a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog_post.html">Blog Post</a></li>
                                        <li><a href="blog_two.html">Blog II</a></li>
                                        <li><a href="blog_post2.html">Blog Post II</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu-no"><a href="contact.html">Contact</a></li>
                                <li class="has-submenu">
                                    <a href="#">Styles</a>
                                    <ul class="sub-menu">
                                        <li><a href="columns.html">Columns</a></li>
                                        <li><a href="icons.html">Retina Icons</a></li>
                                        <li><a href="icons2.html">Line Icons</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- // header -->
</header>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12 content">
                {% if page is defined %}
                    <div class="span12">
                        <div class="row-fluid">
                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_top', 'global') }}
                        {% endif %}
                        {{ sonata_page_render_container('content_top', page) }}
                        </div>
                    </div>
                {% endif %}

                <div class="row-fluid">
                    <div class="span12">
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                    </div>
                </div>

                {% if page is defined %}
                    <div class="row-fluid">
                        <div class="span12">
                        {{ sonata_page_render_container('content_bottom', page) }}

                        {% if page.name != 'global'%}
                            {{ sonata_page_render_container('content_bottom', 'global') }}
                        {% endif %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span12 center">
                    <img src="{{  asset('bundles/rzpage/theme/rzcms/img/diamond.png')}}" alt="" />
                    <div class="copyright">
                        <p>
                            <a href="#"><i class="icon icon-facebook marg-right5"></i></a>
                            <a href="#"><i class="icon icon-twitter marg-right5"></i></a>
                            <a href="#"><i class="icon icon-pinterest marg-right5"></i></a>
                            <a href="#"><i class="icon icon-github marg-right5"></i></a>
                            <a href="#"><i class="icon icon-google-plus marg-right5"></i></a>
                            <a href="#"><i class="icon icon-dribbble"></i></a>
                        </p>
                        <p>
                            23 Mornington Crescent
                            <span class="dark-grey">//</span>
                            Camden
                            <span class="dark-grey">//</span>
                            London
                            <span class="dark-grey">//</span>
                            +44 020 234 198
                            <br/>Paris &copy;
                            <script type="text/javascript">
                                //<![CDATA[
                                var d = new Date()
                                document.write(d.getFullYear())
                                //]]>
                            </script>
                            {{ sonata_page_render_container('footer', 'global') }}
                        </p>
                    </div>
                    <div class="go-top">
                        <span class="dark-grey"><i class="icon icon-align-justify marg-right5"></i></span>
                        <a href="#"><i class="icon icon-chevron-sign-up"></i></a>
                        <span class="dark-grey"><i class="icon icon-align-justify marg-left5"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- // END FOOTER -->
{% endblock %}
