{% set page =  admin.parent.subject %}
{% if page %}
    <li><a class="sonata-action-element" href="{{ path('admin_sonata_page_page_list') }}"><i class="icon-reorder"></i> {{ 'breadcrumb.link_page_list'|trans({}, 'SonataPageBundle') }}</a></li>
    <li><a class="sonata-action-element" href="{{ path('admin_sonata_page_page_edit', {'id':page.id}) }}"><i class="icon-pencil"></i> {{ 'sidemenu.link_edit_page'|trans({}, 'SonataPageBundle') }}</a></li>
    <li><a class="sonata-action-element" href="{{ path('admin_sonata_page_page_compose_container_show', {'id':page.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_compose_page'|trans({}, 'SonataPageBundle') }}</a></li>
    <li><a class="sonata-action-element" href="{{ path('admin_sonata_page_page_snapshot_list', {'id':page.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_list_snapshots'|trans({}, 'SonataPageBundle') }}</a></li>
    {#<li><a class="sonata-action-element" href="{{ path(page) }}"><i class="icon-eye-open"></i> {{ 'view_page'|trans({}, 'SonataPageBundle') }}</a></li>#}
{% endif %}