{% extends 'RzAdminBundle:CRUD:base_list.html.twig' %}


{%block admin_information %}
    {% if admin.isChild %}
        {% set page =  admin.parent.subject %}
        {% if page %}
            <div class="box box-color green box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-eye-open"></i>
                        {# TODO: set on configuration #}
                    </h3>
                </div>
                <div class="box-content nopadding">
                    <div class="row-fluid">
                        <div class="span12">
                            <table class="table table-bordered rz-admin-show-table">
                                <tr class="sonata-ba-view-title rmz-show-header">
                                    <th colspan="2">{{ 'filter.label_page'|trans({}, 'SonataPageBundle') }}</th>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td style="width:40%">{{ 'form.label_parent'|trans({}, 'SonataPageBundle') }}</td>
                                    <td style="width:60%">{{ page.parent }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td style="width:40%">{{ 'form.label_name'|trans({}, 'SonataPageBundle') }}</td>
                                    <td style="width:60%">{{ page.name }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td style="width:40%">{{ 'show.label_route_name'|trans({}, 'SonataPageBundle') }}</td>
                                    <td style="width:60%">{{ page.routeName }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td style="width:40%">{{ 'form.label_slug'|trans({}, 'SonataPageBundle') }}</td>
                                    <td style="width:60%">{{ page.slug }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <td style="width:40%">{{ 'form.label_url'|trans({}, 'SonataPageBundle') }}</td>
                                    <td style="width:60%">{{ page.url }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block side_menu %}{% endblock %}

{% block actions %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% if admin.isChild %}
                {% include 'RzPageBundle:BlockAdmin:buttons.html.twig' %}
                {% endif %}
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% if admin.isChild %}
                        {% include 'RzPageBundle:BlockAdmin:buttons_mobile.html.twig' %}
                    {% endif %}
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}