{% extends 'RzPageBundle:theme/rzcms:layout.html.twig' %}

{% block sonata_page_breadcrumb %}{% endblock sonata_page_breadcrumb %}

{% block rzcms_body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12 content">
                        {% if page is defined %}
                            <div class="span12">
                                <div class="row-fluid">
                                    {% if sonata_page.isEditor or (app.user is not null and app.user and is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                        {{ sonata_page_render_container('content_top',page,{ 'use_cache': false})}}
                                    {% else %}
                                        {{ sonata_page_render_container('content_top', page,{ 'use_cache': true}) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row-fluid">
                            <div class="span12">
                                <div class="row-fluid sonata-blog-post-list">
                                    <div class="span12">
                                        {% if content is defined %}
                                            {{ content|raw }}
                                        {% else %}
                                            {% set content = block('content') %}
                                            {% if content|length > 0 %}
                                                {{ content|raw }}
                                            {% elseif page is defined %}
                                                {% if sonata_page.isEditor or (app.user is not null and app.user and is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                                    {{ sonata_page_render_container('content',page,{ 'use_cache': false})}}
                                                {% else %}
                                                    {{ sonata_page_render_container('content', page,{ 'use_cache': true}) }}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if page is defined %}
                            <div class="row-fluid">
                                <div class="span12">
                                    {% if sonata_page.isEditor or (app.user and is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                        {{ sonata_page_render_container('content_bottom',page,{ 'use_cache': false})}}
                                    {% else %}
                                        {{ sonata_page_render_container('content_bottom', page,{ 'use_cache': true}) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock rzcms_body %}
