{% extends 'RzPageBundle:theme/rzcms:layout.html.twig' %}

{% block rzcms_body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12 content">
                        {% if page is defined %}
                            <div class="span12">
                                <div class="row-fluid">
                                    {{ sonata_page_render_container('content_top', page) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row-fluid">
                            <div class="span12">
                                {% if content is defined %}
                                    {{ content|raw }}
                                {% else %}
                                    {% set content = block('content') %}
                                    {% if content|length > 0 %}
                                        {{ content|raw }}
                                    {% elseif page is defined %}
                                        {{ sonata_page_render_container('content', page) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        {% if page is defined %}
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ sonata_page_render_container('content_bottom', page) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock rzcms_body %}
