{% if admin.hasRoute('edit') and admin.id(object) and admin.isGranted('EDIT', object)%}
<a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_page_page_block_list', {'id':object.id}) }}"><i class="icon-reorder"></i> {{ 'sidemenu.link_list_blocks'|trans({}, 'SonataPageBundle') }}</a>
<a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_page_page_compose', {'id':object.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_compose_page'|trans({}, 'SonataPageBundle') }}</a>
<a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_page_page_snapshot_list', {'id':object.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_list_snapshots'|trans({}, 'SonataPageBundle') }}</a>
{% endif %}