<div class="page-composer__container__view block-view-{{ container.id }}"
     data-block-id="{{ container.id }}">
    <h2 class="page-composer__container__view__header">{{ container.name }}</h2>
    <span class="page-composer__container__view__notice">{{ 'notice'|trans({}, 'SonataPageBundle') }}</span>
    <div class="page-composer__block-type-selector">
	    <small class="page-composer__container__child-count pull-right">
		    <span class="label label-primary text-uppercase">{{ 'blocks'|trans({}, 'SonataPageBundle') }}</span> <span class="badge">{{ container.children|length }}</span>
	    </small>
	    <span class="page-composer__block-type-selector__loader text-uppercase pull-right rz-composer-loader">{{ 'loading'|trans({}, 'SonataPageBundle') }}</span>
	    <div class="clearfix"></div>
	    <div class="form-group">
	        <label class="control-label text-uppercase">{{ 'composer.block.add.type'|trans({}, 'SonataPageBundle') }}</label>
	        <div class="input-group select2-bootstrap-append">
	            <select class="page-composer__block-type-selector__select">
	                {% for blockServiceId, blockService in blockServices %}
	                    <option value="{{ blockServiceId }}">{{ blockService.name }}</option>
	                {% endfor %}
	            </select>
		        <span class="input-group-btn">
	            <a class="btn btn-primary btn-action btn-small page-composer__block-type-selector__confirm" href="{{ admin.generateObjectUrl('sonata.page.admin.block.create', page, {'composer': true}) }}"><i class="fa fa-plus"></i></a>
		        </span>
	        </div>
	    </div>
    </div>

    <ul class="page-composer__container__children">
        {% for child in container.children %}
            {% include 'RzPageBundle:BlockAdmin:compose_preview.html.twig' %}
        {% endfor %}
    </ul>
</div>