{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'RzAdminBundle:CRUD:base_list.html.twig' %}

{% import _self as tree %}
{% macro pages(pages, admin, rootPages) %}
    <ul{% if rootPages %} class="page-tree"{% endif %}>
        {% for page in pages if not page.internal and (not page.parent or not rootPages)%}
            <li>
                <div class="page-tree__item">
                    {% if page.parent %}<i class="icon-chevron-right"></i>{% endif %}
                    <i class="icon-{% if page.isHybrid %}cog{% else %}file-alt{% endif %}"></i>
                    <a class="page-tree__item__edit" href="{{ admin.generateObjectUrl('edit', page) }}">{{ page.name }}</a>
                    <i class="text-muted hidden-phone hidden-tablet">{{ page.url }}</i>
                    <a class="label label-info pull-right" href="{{ admin.generateObjectUrl('compose', page) }}">compose <i class="icon-magic"></i></a>
                    {% if page.edited %}<span class="label label-warning pull-right hidden-phone hidden-tablet">edited</span>{% endif %}
                </div>
                {% if page.children|length %}
                    {{ _self.pages(page.children, admin, false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block actions %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% include 'RzPageBundle:PageAdmin:list_tab_menu.html.twig' with {
                'mode':   'tree',
                'action': action,
                'admin':  admin
                } only %}
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% include 'RzPageBundle:PageAdmin:list_tab_menu_mobile.html.twig' with {
                    'mode':   'tree',
                    'action': action,
                    'admin':  admin
                    } only %}
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block side_menu %}#}
    {#{% include 'SonataPageBundle:PageAdmin:list_tab_menu.html.twig' with {#}
        {#'mode':        'tree',#}
        {#'action':      action,#}
        {#'admin':       admin,#}
        {#'currentSite': currentSite,#}
    {#} only %}#}
{#{% endblock %}#}

{% block list_table %}
    <div class="box box-color box-bordered">
    <div class="box-title">
        <h3>
            <i class="icon-table"></i>
            {# TODO: set on configuration #}
        </h3>
        {#<ul class="tabs">#}
            {#<li class="active">#}
                {#<a href="#data" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-list-ul"></i></a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#filter" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-search"></i></a>#}
            {#</li>#}
        {#</ul>#}
    </div>
    <div class="box-content nopadding">
        <div class="row-fluid">
            <div class="span12 page-tree-selector">
                {{ 'pages.tree_site_label'|trans({}, 'SonataPageBundle') }}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <strong class="text-info">{{ currentSite.name }}</strong> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for site in sites %}
                            <li>
                                <a href="{{ admin.generateUrl('tree', { 'site': site.id }) }}">
                                    {{ site.name }}
                                    {% if currentSite and site.id == currentSite.id %}
                                        <span class="pull-right">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
        {{ tree.pages(pages, admin, true) }}
    </div>
{% endblock %}