{% block sonata_page_admin_block_settings_sonata_type_immutable_array_row %}
<div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
    {{ form_label(form, label|default(null)) }}

    <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
        <div class="box box-color green box-small box-bordered sonata-ba-box-settings">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i></h3>
            </div>
            <div class="box-content nopadding">
                <div {{ block('widget_container_attributes') }}>
                    {% for child in form.children %}
                        {{ form_row(child) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_errors(form) }}
</div>
{% endblock %}
