{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_create_snapshots'|trans({}, 'SonataPageBundle') }}{% endblock %}
{% block content %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">{{ "title_create_snapshots" |trans({}, 'SonataPageBundle')}}</h3>
        </div>
        <div class="box-body">
            {{ "message_create_snapshots"|trans({'%site%': object.name }, 'SonataPageBundle') }}
        </div>
        <div class="box-footer clearfix">
            <form action="{{ admin.generateUrl('snapshots', {'id': object.id}) }}" method="POST">
                <input class="btn btn-primary" type="submit" name="create" value="{{ 'button_create_snapshots'|trans({}, 'SonataPageBundle') }}">
                <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
            </form>
        </div>
    </div>
{% endblock %}
